﻿@model BBS.Libraries.UnitTests.BBS_Libraries_Documents.Pdfs.PdfGenerators.Models.TestPdfsModel
@{  
}
<!DOCTYPE html>
<html>
  <head>
    <link type="text/css" href="http://www.betabytesoftware.com/Content/bootstrap.css" rel="stylesheet" />
    <link type="text/css" href="http://www.betabytesoftware.com/Content/bootstrap-theme.css" rel="stylesheet" />
    <link type="text/css" href="http://www.betabytesoftware.com/Content/themes/base/jquery.ui.all.css" rel="stylesheet" />
    <script src="http://www.betabytesoftware.com/Scripts/jquery-2.1.1.js" type="text/javascript"></script>
    <script src="http://www.betabytesoftware.com/Scripts/jquery-ui-1.10.4.js" type="text/javascript"></script>
    <script src="http://www.betabytesoftware.com/Scripts/bootstrap.js" type="text/javascript"></script>
    <style>
      .tblrow {
        background-color: white
      }
       .altRow {
         background-color: #00bfff
       }
    </style>
  </head>
  <body style="margin:.5in">
    <div style="margin-top: 20px">
      <img title="beta byte software logo" style="height: 200px;display: block;position:relative; float:none; margin-left:auto;margin-right:auto; padding-bottom:35px;" src="http://www.betabytesoftware.com/Content/images/weblogo.png" alt="beta byte software logo">
    </div>
    <div style="position: relative; display: block; width: 100%">
      <div style="position: relative; display: inline-block; float: left">
        <p>To: @Model.Name</p>
        <p>Issue Date: @Model.IssueDate.ToShortDateString()<br />
        Due Date: @Model.DueDate.ToShortDateString()</p>
      </div>
      <div style="position: relative; display: inline-block; float: right">
        <p>BetaByte Software LLC</p>
        <p>6544 Some Street<br />
          Unit 225<br />
          Philadelphia, PA 19133
        </p>
      </div>
    </div>
    
    
    <table style="width:100%">
      <tr>
        <th>
          Name
        </th>
        <th>
          Price
        </th>
        <th>
          Quantity
        </th>
        <th>
          &nbsp;
        </th>
      </tr>
      
      @for (int i = 0; i < Model.LineItems.Count; i++)
      {
        <tr>
          <td>
            @Model.LineItems[i].Name
          </td>
          <td>
            @Model.LineItems[i].Price.ToString("C")
          </td>
          <td>
            @Model.LineItems[i].Quantity
          </td>
          <td>
            @(Model.LineItems[i].Price * Model.LineItems[i].Quantity)
          </td>
        </tr>
      }

      <tr>
        <td colspan="2">&nbsp;</td>
        <td style="text-align: left">Subtotal
        </td>
        <td>@Model.Subtotal.ToString("C")</td>
      </tr>
      <tr>
        <td colspan="2">&nbsp;</td>
        <td style="text-align: left">Tax</td>
        <td>@Model.Tax.ToString("C")</td>
      </tr>
      <tr>
        <td colspan="2">&nbsp;</td>
        <td style="text-align: left">Total</td>
        <td>@Model.Total.ToString("C")</td>
      </tr>
    </table>

    
  </body>
</html>