﻿@model BBS.Libraries.UnitTests.BBS_Libraries.Emails.EmailGenerators.Models.TestEmails.TestEmailsModel
@{
  
}

<h3>Hello, @Model.Name</h3>

<p>Please find the enclosed documents to fulfill your request.</p>

<p>Don't bother us again</p>

<p>Sincerely, <br />BBS</p>